
<!doctype html>
<html>
  <head>
    <title>3DQueue</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
  </head>
<body>
  <nav>
    <ul>
      <li><a href="/logout" class="navbar">Logout</a></li>
    </ul>
  </nav>
  <div class="content-container">
    <h1>Admin Dashboard</h1>
    <h2>Welcome <%= user.email %></h2>
    <ul>
      <li>Organization: <%= user.organization %></li>
      <li>Username: <%= user.username %></li>
      <li>Password (hashed): <%= user.password %></li>
      <li>Dropbox Auth Token (hashed): <%= user.dbtoken %></li>
    </ul>
    
  </div>
</body>
</html>
