
<!doctype html>
<html>
  <head>
    <title>3DQueue</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link href="https://fonts.googleapis.com/css?family=Bungee+Shade" rel="stylesheet">
  </head>
<body>
  <nav>
      <h1 id="logo">3DQueue</h1>
    <ul>
      <li><a href="/logout" class="navbar">Logout</a></li>
    </ul>
  </nav>
  <section class="sidebar">
    <ul class="sidebar-nav">
      <a href="/projects/new"><li class="sidebar-links">Create New Project</li></a>
      <li class="sidebar-links">Manage Queue</li>
      <li class="sidebar-links">Manage Projects</li>
      <li class="sidebar-links">Manage Accounts</li>
      <li class="sidebar-links">Statistics</li>
    </ul>
  </section>
  <div class="dashboard">
    <h1>Admin Dashboard</h1>
    <h2>Welcome <%= user.email %></h2>
    <ul>
      <li>Organization: <%= user.organization %></li>
      <li>Username: <%= user.username %></li>
      <li>Password (hashed): <%= user.password %></li>
      <li>Dropbox Auth Token: <%= user.dbtoken %></li>
    </ul>
    
  </div>
</body>
</html>
